body{
  color: white;
  margin : 0;
  padding: 0;
 
  background-image: url('https://c4.wallpaperflare.com/wallpaper/297/176/989/muscle-man-gym-bodybuilder-wallpaper-preview.jpg');
  background-size: cover;
}

.left
{
display: inline-block;

position: absolute;
left: 80px;
top: 34px;
text-align: center;

}

.left p 
{
  font-family: 'Baloo Bhai';
  font-size: 30px;
  text-shadow: .1em .1em 0 hsl(200 50% 30%);

}

.mid
{
  display: block;
  text-align: center;
  width: 40%;
  margin : 34px auto


}

.right
{
  display: inline-block;
  
  position: absolute;
  right: 34px;
  top: 44px;

}

.navbar
{
  display: inline-block;
}

li{
  display: inline-block;
  color: white;
  text-decoration: none;
  padding-right: 40px;
  font-size: 25px;
  font-family: 'Baloo Bhai';
  cursor: pointer;
}

li:hover
{
  color :yellowgreen
}

.left img{
  
  height: 150px;
  width : 250px;
}

.right button
{
  font-family: 'Baloo Bhai';
  font-size: 20px;
  padding : 4px 14px;
  color: white;
  background-color: rgb(27, 25, 25);
  border-radius: 10px;
  cursor: pointer;
}

.right button:hover {
  font-family: 'Baloo Bhai';
  font-size: 20px;
  padding : 4px 14px;
  color: yellow;
  background-color: rgb(27, 25, 25);
  border-radius: 10px;
  cursor: pointer;

}


.container
{
  background-color: black;
  opacity: 0.8;
  border : solid white;
  width : 20%;
  margin-top: 200px;
  margin-left: 50px;
  border-radius: 10px;
  height : 400px;
}

.container h1{
  opacity: 1;
  font-size: 20px;
  font-family: 'Baloo Bhai';
  text-align: center;
  padding-top: 30px;
}


.form-group input
{
  font-size: 20px;
  text-align: center;
  display: block;
  width: 280px;
  
  border : solid white;
  margin: 10px auto;
  border-radius: 10px;

}

.btn
{
  
  font-family: 'Baloo Bhai';
  font-size: 20px;
  padding : 4px 14px;
  color: white;
  background-color: grey;
  border-radius: 10px;
  cursor: pointer;
  display: block;
 width : 30%;
 margin: 10px auto;
 text-align: center;
}

.btn:hover

{
  font-family: 'Baloo Bhai';
  font-size: 20px;
  padding : 4px 14px;
  color: yellow;
  background-color: rgb(50, 38, 38);
  border-radius: 10px;
  cursor: pointer;
}

